.main_content
	#recipe_top.row
		#recipe_info
			%h1= @recipe.title
			%p.description= @recipe.description

	.row
		.col-md-6
			#informations
				%h4 Informations
				%ul
					- @information_all.order(:cached_votes_up).reverse.each do |information|
						= link_to "#{information.url}", information.url, target: :_blank
						= information.get_upvotes.size
						= link_to "", upvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-up"
						= link_to "", downvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-down"
				%h4
				= form_for @info, url: add_info_recipe_path do |f|
					%p= f.text_field 'url', placeholder:'Add information'
					%p= button_to "Add information"
		.col-md-6
			#directions
				%h4 Tips
				%ul
					- @direction_all.each do |direction|
						= direction.step
						= direction.get_upvotes.size
						= link_to "", upvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-up"
						= link_to "", downvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-down"
				%h4
				= form_for @direction, url: add_direction_recipe_path do |f|
					%p= f.text_field 'step', placeholder:'Add tips'
					%p= button_to "Add tips"

	.row
		#backedit
			.col-md-12
				= link_to "Back", root_path, class: "btn btn-default"	
				- if user_signed_in?
					= link_to "Edit", edit_recipe_path, class: "btn btn-default"
					= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"