.main_content
	#recipe_top.row
		#recipe_info
			%h1= @recipe.title
			%p.description= @recipe.description

	.row
		.col-md-6
			#informations
				%h2 Informations
				%ul
					- @recipe.informations.order(:cached_votes_up).reverse.each do |information|
						%li= link_to "#{information.url}", information.url, target: :_blank
						%li= information.get_upvotes.size
						%li= link_to "upvote", upvote_info_path(information.id)
						%li= link_to "downvote", downvote_info_path(information.id)
		.col-md-6
			#directions
				%h2 Tips
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default"	
			- if user_signed_in?
				= link_to "Edit", edit_recipe_path, class: "btn btn-default"
				= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"