.main_content
	#recipe_top.row
		#recipe_info
			.row
				%h1= @recipe.title
				%div= social_share(@recipe.title, recipe_path(@recipe), services: [:facebook, :twitter, :google_plus, :reddit])
				%p.description= @recipe.description

	.row
		.col-md-6
			#informations
				%h4 Informations
				%ul#informationslist
					- @information_all.order(:cached_votes_up).reverse.each do |information|
						%div#info
							%div#votes
								= information.get_upvotes.size
								= link_to "", upvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-up"
								= link_to "", downvote_info_path(information.id), class: "glyphicon glyphicon-thumbs-down"
							%div#linkinfo
								= link_to "#{information.title}", information.url, target: :_blank
							%div#contrebutton
								.button.glyphicon.glyphicon-exclamation-sign{"data-target" => ".#{information.id}", "data-toggle" => "modal", :type => "button"}
							%br
						%div#contrelien
							- information.contrelien.each do |contre|
								%ul
									%li
										= link_to "#{contre.title}", contre.url, target: :_blank
							.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :class => "#{information.id}", :role => "dialog", :tabindex => "-1"}
								.modal-dialog.modal-sm
									.modal-content
										%p Adding a counterlink allow you to criticise the information provided by the belonging link
										= form_for @contrelien, url: add_contreinfo_path(information.id) do |c|
											%p= c.text_field 'title', placeholder: 'add title'
											%p= c.text_field 'url', placeholder: 'add url'
											%p= button_to "ADD"

				%h4
				= form_for @info, url: add_info_recipe_path do |f|
					%p= f.text_field 'title', placeholder:'Add a title'
					%p= f.text_field 'url', placeholder:'Add an url'
					%p= button_to "Add information"
		.col-md-6
			#directions
				%h4 Astuces
				%ul#directionslist
					- @direction_all.each do |direction|
						%div#tips
							%div#votes
								= direction.get_upvotes.size
								= link_to "", upvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-up"
								= link_to "", downvote_direction_path(direction.id), class: "glyphicon glyphicon-thumbs-down"
							%div#step
								- unless direction.title.blank?
									= link_to "#{direction.title}", direction.url, target: :_blank
								- else
									= direction.step

								
						%br
				%h4
				= form_for @direction, url: add_direction_recipe_path do |f|
					%p= f.text_field 'title', placeholder:'Add title'
					%p= f.text_field 'url', placeholder:'Add url'
					%p= f.text_field 'step', placeholder:'Add text'
					%p= button_to "Add astuces"

	.row
		#backedit
			.col-md-12
				= link_to "Back", root_path, class: "btn btn-default"	
				- if user_signed_in?
					= link_to "Edit", edit_recipe_path, class: "btn btn-default"
					= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"