!!! 5
%html
%head
	%title Staskstact
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default#home
		%ul
			%li= link_to "S", root_path
			%li= link_to "t", root_path
			%li= link_to "a", root_path
			%li= link_to "s", root_path
			%li= link_to "k", root_path
			%li= link_to "s", root_path
			%li= link_to "t", root_path
			%li= link_to "a", root_path
			%li= link_to "c", root_path
			%li= link_to "t", root_path

	%nav.navbar.navbar-default
		- if user_signed_in?
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "New Theme", new_recipe_path
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Sign Out", destroy_user_session_path, method: :delete
		- else
			%ul.nav.navbar-nav.navbar-right#signup
				%li= link_to "S", new_user_registration_path
				%li= link_to "i", new_user_registration_path
				%li= link_to "g", new_user_registration_path
				%li= link_to "n", new_user_registration_path
				%li= link_to "", new_user_registration_path
				%li= link_to "u", new_user_registration_path
				%li= link_to "p", new_user_registration_path
			%ul.nav.navbar-nav.navbar-right#signin
				%li= link_to "S", new_user_session_path
				%li= link_to "i", new_user_session_path
				%li= link_to "g", new_user_session_path
				%li= link_to "n", new_user_session_path
				%li= link_to "", new_user_session_path
				%li= link_to "i", new_user_session_path
				%li= link_to "n", new_user_session_path

						
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"


		= yield

%footer
	.container#footer
		%p AeM
		%p facebook
		%p twitter
		%p feedback
		%p support
